
    <table>
        <thead>
            <tr>
                <th width="22%">ID</th>
                <th width="39%">Translation</th>
                <th width="39%">Additional Information</th>
            </tr>
        </thead>
        <tbody>
            {% for id, message in messages %}
            <tr>
                <td>
                    <a class="jms-translation-anchor" id="{{ id }}" />
                    <abbr id="{{ id }}" title="{{ id }}">{{ id }}</abbr>
                    </a>
                    <strong class="currentLocalTextarea">{{ selectedLocale }}</strong>
                </td>
                <td>

                    <textarea data-id="{{ id }}" {% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}>{{ message.localeString }}</textarea></td>
                <td>
                    {% if message.meaning is not empty %}
                        <h6>Meaning</h6>
                        <p>{{ message.meaning }}</p>
                    {% endif %}
                
                    {% if alternativeMessages[id] is defined %}
                        {% for locale, altMessage in alternativeMessages[id] %}
                        <p>
                            {% set untransClass = '' %}
                            {% if message.localeString == altMessage.localeString or altMessage.localeString|length == 0 %}
                                {% set untransClass = 'transWarning' %}
                            {% endif %}
                            <pre class="{{ untransClass }}"><strong><a href="{{ app.request.uri }}&locale={{ locale }}#{% if untransClass == '' %}{{ id }}{% else %}{{ id|replace({'.untranslated': ''}) }}.untranslated{% endif %}">{{ locale }}</a></strong>{{ altMessage.localeString }}</pre>
                        </p>
                        {% endfor %}
                    {% endif %}
                    
                    {% if message.sources|length > 0 %}
                        <h6>Sources</h6>
                        <ul>
                        {% for source in message.sources %}
                            <li>{{ source }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% if message.desc is not empty 
                            and message.localeString != message.desc
                            and id != message.desc
                            and id != message.desc+'.untranslated'
                            and (alternativeMessages[id][sourceLanguage] is not defined
                                 or alternativeMessages[id][sourceLanguage].localeString != message.desc) %}
                        <h6>Description</h6>
                        <p>{{ message.desc }}</p>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No messages found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
